.chart-box {
  display: flex;
  height: 100%;
  .box-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
      grid-area: 10px;
    }
  }
  .chart-info {
    flex: 2;
    background-color: aqua;
  }
}
